body {
	background-color: white;
}

#login-page img {
	position: absolute;
	width: 100%;
	height: 100%;
}

#login-page h1 {
	position: relative;
	color: darkblue;
	text-align: center;
}

#login-page h2 {
	position: relative;
	color: orange;
	text-align: center;	
}

#login-page h4 {
	position: relative;
	color: darkblue;
	top: 10px;
	left: 10px;
}

#input-data {
	position: relative;
	margin-left: 900px;
	margin-top: 40px;
}
